<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/admin/dashboard"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <!-- <i class="fas fa-laugh-wink"></i> -->
      <svg
        width="35"
        height="35"
        viewBox="0 0 35 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_d)">
          <circle cx="17.5" cy="13.5" r="13.5" fill="white" />
        </g>
        <path
          d="M13.9 20.426C14.42 20.7033 15.0007 20.9373 15.642 21.128C16.3007 21.3013 16.9593 21.388 17.618 21.388C18.19 21.388 18.7273 21.336 19.23 21.232C19.7327 21.1107 20.166 20.9287 20.53 20.686C20.9113 20.426 21.206 20.1053 21.414 19.724C21.6393 19.3427 21.752 18.892 21.752 18.372C21.752 17.6613 21.5093 17.0807 21.024 16.63C20.556 16.1793 19.9667 15.7807 19.256 15.434C18.5453 15.0873 17.774 14.7493 16.942 14.42C16.11 14.0907 15.3387 13.7007 14.628 13.25C13.9173 12.7993 13.3193 12.2533 12.834 11.612C12.366 10.9533 12.132 10.1213 12.132 9.116C12.132 8.40533 12.2707 7.764 12.548 7.192C12.8427 6.62 13.25 6.13467 13.77 5.736C14.29 5.33733 14.914 5.034 15.642 4.826C16.3873 4.60067 17.2107 4.488 18.112 4.488C19.152 4.488 20.0967 4.566 20.946 4.722C21.7953 4.86067 22.4713 5.05133 22.974 5.294L23.026 5.268V5.32H23.052L23.026 5.398V9.558H21.102V6.776C20.6687 6.672 20.192 6.58533 19.672 6.516C19.152 6.44667 18.5973 6.412 18.008 6.412C17.436 6.412 16.916 6.48133 16.448 6.62C15.9973 6.75867 15.6073 6.94933 15.278 7.192C14.966 7.41733 14.7233 7.686 14.55 7.998C14.3767 8.31 14.29 8.63933 14.29 8.986C14.29 9.662 14.524 10.2253 14.992 10.676C15.4773 11.1267 16.0753 11.534 16.786 11.898C17.4967 12.2447 18.268 12.5913 19.1 12.938C19.932 13.2847 20.7033 13.692 21.414 14.16C22.1247 14.6107 22.714 15.1567 23.182 15.798C23.6673 16.4393 23.91 17.2367 23.91 18.19C23.91 18.97 23.7627 19.672 23.468 20.296C23.1907 20.92 22.7833 21.4573 22.246 21.908C21.726 22.3587 21.076 22.7053 20.296 22.948C19.5333 23.1907 18.6667 23.312 17.696 23.312C17.0373 23.312 16.4133 23.26 15.824 23.156C15.2347 23.052 14.6887 22.922 14.186 22.766C13.7007 22.61 13.2587 22.4453 12.86 22.272C12.4787 22.0987 12.1753 21.9513 11.95 21.83L11.976 21.752V17.54H13.9V20.426Z"
          fill="#3252DF"
        />
        <defs>
          <filter
            id="filter0_d"
            x="0"
            y="0"
            width="35"
            height="35"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="2" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow"
              result="shape"
            />
          </filter>
        </defs>
      </svg>
    </div>
    <div class="sidebar-brand-text mx-3">Staycation</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Master</div>

  <!-- Nav Item - category -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/category">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Category</span></a
    >
  </li>

  <!-- Nav Item - bank -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/bank">
      <i class="fas fa-fw fa-money-check"></i>
      <span>Bank</span></a
    >
  </li>

  <!-- Nav Item - Items -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/item">
      <i class="fas fa-fw fa-hotel"></i>
      <span>Items</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
  <!-- Heading -->
  <div class="sidebar-heading">Order</div>
  <!-- Nav Item - booking -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/booking">
      <i class="fas fa-fw fa-shopping-cart"></i>
      <span>Booking</span></a
    >
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
